@use 'sass:math';

.stage-metrics {
	min-width: 0;

	&__bar {
		background-color: $cadmin-indigo-l2;
		border-radius: 8px;
		max-height: 136px;

		&--empty {
			border: 1px dashed $cadmin-secondary-l2;
		}
	}
}

.stage-progression {
	position: relative;

	&::before,
	&::after {
		border-left: 1px dashed $cadmin-secondary-l2;
		bottom: 1rem;
		content: '';
		position: absolute;
		top: 0;
		z-index: 1;
	}

	&::before {
		left: 0;
	}

	&::after {
		right: 0;
	}

	&__fill {
		background: $cadmin-light-d1;
	}

	@include media-breakpoint-down(md) {
		&::before {
			border-bottom: 1px dashed $cadmin-secondary-l2;
			border-left: none;
			bottom: auto;
			left: 0;
			right: 0;
			top: 50%;
			z-index: 0;
		}

		&::after {
			display: none;
		}

		.label-info {
			position: relative;
			z-index: 1;
		}
	}

	.label-info {
		background-color: $cadmin-info-l2;
		border-color: $cadmin-info-l2;
		color: $cadmin-info-d1;

		> .label-item {
			border-radius: 0.25rem;
			border-width: 0.0625rem;
			display: inline-block;
			font-size: 0.75rem;
			letter-spacing: math.div($fontSizeExtraSmall * -0.2, 13);
			text-transform: none;
		}
	}
}
