@import 'atlas-variables';

.file-size-mimetypes-item {
	align-items: end;
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 44px;
	margin-top: 2rem;

	.form-feedback-group {
		position: absolute;
	}
}

.file-size-mimetypes-item-content {
	min-width: 0;
}

.file-size-mimetypes-remove {
	margin-bottom: 0;
	min-height: 44px;
	min-width: 44px;
}

.file-size-mimetypes-add {
	margin-top: 1rem;
	min-height: 44px;
}
