@import 'atlas-variables';

.lfr-cmp__workflow-tasks-overview-container {
	margin-bottom: 1.75rem;
	margin-top: 1rem;

	.quick-filter-row {
		margin-left: 0;
		margin-right: 0;
	}

	.quick-filter-button {
		border-color: $secondary-l2;
		border-radius: 0.5rem;
		height: 100%;
		min-height: 4.3125rem;
		padding: 0.875rem 1rem;
		text-align: left;
		width: 100%;

		&:hover {
			background-color: $light-l1;
			border-color: $secondary-l0;
		}

		&.active {
			background-color: $light;
			border-color: $dark;
		}

		.quick-filter-button-content {
			line-height: 1.25;
		}

		.quick-filter-button-count {
			font-size: 1rem;
			font-weight: 600;
		}

		.sticker {
			height: 2.5rem;
			width: 2.5rem;
		}
	}

	.sticker-secondary {
		background-color: $secondary-l3;
	}

	.sticker-success {
		background-color: $success-l2;
	}
}
