.video-preview {
	height: 100%;
	left: 0;
	max-width: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

.video-preview > * {
	height: 100%;
	width: 100%;
}

.video-preview-placeholder {
	background-color: #f1f2f5;
}

.video-preview-placeholder:not(:has(iframe))::after {
	background-image: url('/o/admin-theme/images/clay/video.svg');
	content: '';
	height: 40px;
	left: 50%;
	opacity: 0.2;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
}
