@import 'cadmin-variables';

html#{$cadmin-selector} .cadmin.fds-admin .cards-visualization-mode {
	.cards-section-label {
		min-width: 20ch;
		width: 30%;
	}

	.field-name {
		border-left: none;
		width: auto;
	}
}
