@import 'cadmin-variables';

html#{$cadmin-selector} .cadmin.fds-admin {
	.dropdown-menu.fds-cell-renderers-dropdown-menu {
		max-height: 500px;
		max-width: 550px;
		width: 100%;
	}

	.input-localized .form-group {
		margin-bottom: 0;
	}
}
