.data-set {
	&-stacked .management-bar-wrapper {
		border: none !important;
		border-radius: 8px;
		overflow: hidden;
	}

	table {
		background-color: transparent;

		.with-bg {
			background-color: transparent;
		}

		td,
		th {
			border-right: none;
		}

		tr {
			background-color: $color-bg;
			border-bottom: none;
			border-radius: $border-radius;
			margin-bottom: 4px;
			overflow: hidden;

			&:last-child {
				margin-bottom: 0;
			}
		}

		thead {
			color: $color-fg;
			font-size: 12px;
			font-weight: 500;
			letter-spacing: 1.2px;
			line-height: 1;
			margin-bottom: 4px;
			text-transform: uppercase;
		}
	}

	.filter-resume {
		border-color: $color-border;
		border-radius: 8px;
		border-width: 2px;
		overflow: hidden;
		padding: 0.35rem;
		transition: border 0.1s ease-in;

		&-content .lexicon-icon {
			font-size: 14px;
		}

		&.active {
			border-color: $color-theme-light;
		}

		.label-item-after {
			background: $color-border;
			height: calc(100% + 12px);
			margin-right: -6px;
			margin-top: -6px;
			width: 25px;
		}
	}

	.management-bar-wrapper .form-control {
		border-width: 1px;
	}

	.table-style-fluid,
	.table-style-stacked {
		border: none;
	}

	/* ---------- Custom minium fds cell customization ---------- */

	table {
		th {
			&.cell-externalReferenceCode {
				min-width: 150px;
			}

			&.cell-promoPrice {
				max-width: 132px;
			}

			&.cell-purchaseOrderNumber {
				max-width: 175px;
			}

			&.cell-name {
				min-width: 150px;
			}

			&.cell-shippedQuantity {
				max-width: 150px;
			}

			&.cell-sku {
				min-width: 100px;
			}
		}
	}
}
